# .envrc
use devbox
eval "$(mise activate bash)"
export PATH="$PATH:$HOME/.volta/bin:$HOME/.cargo/bin"
export NODE_ENV=development
export NX_DAEMON=false
export RUST_LOG=info
export PYTHONPATH="$PWD"
export UV_CACHE_DIR="$PWD/.cache/uv"
export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"

echo "💥Environment loaded for homelab."
